{% extends "base.html" %}
{% block start %}
<h1>Yes, This is receipe page.</h1>
<form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Add receipe</h2>
    <hr>
    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
      <input name="receipe_name" required type="text" class="form-control" >
    </div>
    
    <div class="mb-3">
      <label for="exampleInputPassword1" name="receipe_description" class="form-label">Receipe Description</label>
      <textarea name="receipe_description" required class="form-control" ></textarea>
    </div>
    
    <div class="mb-3">
      <label class="form-check-label" for="exampleCheck1">Receipe Image</label>
      <input name="receipe_image" type="file" class="form-control" >
    </div>

    <button type="submit" class="btn btn-success">Add Receipe</button>
  </form>
{% endblock %} 